{% extends 'base.html' %}
{% load static %}
{% load like_service %}
{% block content %}

    <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({{ blog.image.url }});">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <div class="breadcrumb-post-content">
                            <h2 class="post-title">{{ blog.name }}</h2>
                            <div class="post-meta">
                                <a href="#" class="post-date"><i class="fa fa-calendar"
                                                                 aria-hidden="true"></i> {{ blog.create_date|date:"M d, Y" }}
                                </a>
                                <a href="#" class="post-author"><i class="fa fa-user"
                                                                   aria-hidden="true"></i> Hotel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="roberto-news-area section-padding-100-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">

                    <div class="post-thumbnail mb-50">
                        <img src="{{ blog.image.url }}" alt>
                    </div>

                    <div class="blog-details-text">
                        {% for cnt in blog.content.all %}
                            {% if  cnt.quote %}
                                <blockquote class="roberto-blockquote d-flex">
                                    <div class="icon">
                                        <img src="{% static 'img/core-img/quote.png' %}" alt>
                                    </div>
                                    <div class="text">
                                        <h5>{{ cnt.content|safe }}</h5>
                                    </div>
                                </blockquote>

                            {% else %}<p>{{ cnt.content|safe }} </p>
                            {% endif %}

                        {% endfor %}
                    </div>

                    <div class="post-author-area d-flex align-items-center justify-content-between mb-50">
                        <ul class="popular-tags">
                            {% for category in blog.category.all %}
                                <li>
                                    <a href="{% url 'services:services_list' %}?category{{ category.name }}">{{ category.name }},</a>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="author-social-info d-flex align-items-center">
                            <p>Share:</p>
                            <a target="_blank" href="https://github.com/Khudoykulov"><i class="fa fa-facebook"
                                                                                        aria-hidden="true"></i></a>
                            <a target="_blank" href="https://github.com/Khudoykulov"><i class="fa fa-twitter"
                                                                                        aria-hidden="true"></i></a>
                            <a target="_blank" href="https://github.com/Khudoykulov"><i class="fa fa-google-plus"
                                                                                        aria-hidden="true"></i></a>
                            <a target="_blank" href="https://github.com/Khudoykulov"><i class="fa fa-linkedin"
                                                                                        aria-hidden="true"></i></a>
                            <a target="_blank" href="https://github.com/Khudoykulov"><i class="fa fa-envelope"
                                                                                        aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="comment_area mb-50 clearfix">
                        <h2>{{ blog.comments.count }} Comments</h2>
                        <ol>
                            {% for comment in comments.all|dictsortreversed:'id' %}
                                {% if not comment.top_level_comment_id %}
                                    <li class="single_comment_area" id="comment-{{ comment.id }}">

                                    <div class="comment-content d-flex">

                                        <div class="comment-author">
                                            <img src="
                                                    {% if comment.author.profile.picture %}{{ comment.author.profile.picture.url }}{% else %}{% static 'img/73-739007_icon-profile-picture-circle-png.png' %}{% endif %}"
                                                 alt="Image placeholder">
                                        </div>

                                        <div class="comment-meta">
                                            <a href="#"
                                               class="post-date">{{ comment.create_date|date:"d F, Y" }}</a>
                                            <h5>{{ comment.author.username }}</h5>
                                            <p>{{ comment.message }}</p>
                                            <a href="{% url 'services:comment_lake' comment.id %}?next={{ request.path }}"
                                               class="like">
                                                {% if comment.id|user_likes_blog:request.user %}
                                                    Dislike {% if comment.likes.count > 0 %} (
                                                    {{ comment.likes.count }}){% endif %}
                                                {% else %}
                                                    Like {% if comment.likes.count > 0 %}({{ comment.likes.count }})
                                                {% endif %}
                                                {% endif %}
                                            </a>
                                            <a href="?cid={{ comment.id }}#form_id_comment" class="reply">Reply</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% for children in comment.children %}
                                <ol class="children">
                                    <li class="single_comment_area" id="{{ children.id }}">

                                        <div class="comment-content d-flex">

                                            <div class="comment-author">
                                                <img src="
                                                        
                                                        {% if children.author.profile.picture %}{{ children.author.profile.picture.url }}{% else %}{% static 'img/73-739007_icon-profile-picture-circle-png.png' %}{% endif %}"
                                                     alt="Image placeholder">
                                            </div>
                                            <div class="comment-meta">
                                                <a href="#"
                                                   class="post-date">{{ children.create_date|date:"d F, Y" }}</a>
                                                <h5>{{ children.author.username }}</h5>
                                                <p>{{ children.message }}</p>
                                                <a href="{% url 'services:comment_lake' children.id %}?next={{ request.path }}"
                                                   class="like">
                                                    {% if children.id|user_likes_blog:request.user %}
                                                        Dislike {% if children.likes.count > 0 %} (
                                                        {{ children.likes.count }}){% endif %}
                                                    {% else %}
                                                        Like {% if children.likes.count > 0 %}(
                                                        {{ children.likes.count }}){% endif %}
                                                    {% endif %}
                                                </a>

                                                <a href="?cid={{ comment.id }}#form_id_comment" class="reply">Reply</a>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            {% endfor %}
                            </li>
                            {% endfor %}
                        </ol>
                    </div>

                    <div class="roberto-contact-form mt-80 mb-100">
                        <h2>Leave A Comment</h2>

                        <form method="post" id="form_id_comment">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    {#                                <textarea name="message" class="form-control mb-30"#}
                                    {#                                          placeholder="Start the discussion..."></textarea>#}
                                    {{ form.message }}
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn roberto-btn btn-3 mt-15">Post Comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="roberto-sidebar-area pl-md-4">

                        <div class="single-widget-area mb-100">
                            <h4 class="widget-title mb-30">Recent News</h4>
                            {% for blog in service_3 %}

                                <div class="single-recent-post d-flex">

                                    <div class="post-thumb">
                                        <a href="{% url 'services:service_detail' blog.slug %}"><img
                                                src="{{ blog.image.url }}" alt></a>
                                    </div>

                                    <div class="post-content">

                                        <div class="post-meta">
                                            <a href="{% url 'services:service_detail' blog.slug %}"
                                               class="post-author">{{ blog.create_date|date:"M d, Y" }}</a>
                                            <a href="{% url 'services:service_detail' blog.slug %}"
                                               class="post-tutorial">{{ blog.author.name }}</a>
                                        </div>
                                        <a href="{% url 'services:service_detail' blog.slug %}"
                                           class="post-title">{{ blog.name|slice:'70' }}...</a>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>

                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Categories</h4>

                            <ul class="popular-tags">
                                {% for category in categories %}
                                    <li>
                                        <a href="{% url 'services:services_list' %}?category={{ category.name }}">{{ category.name }},</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="single-widget-area mb-100 clearfix">
                            <h4 class="widget-title mb-30">Instagram</h4>

                            <ul class="instagram-feeds">
                                <li><a href="#"><img src="{% static 'img/bg-img/33.jpg' %}" alt></a></li>
                                <li><a href="#"><img src="{% static 'img/bg-img/34.jpg' %}" alt></a></li>
                                <li><a href="#"><img src="{% static 'img/bg-img/35.jpg' %}" alt></a></li>
                                <li><a href="#"><img src="{% static 'img/bg-img/36.jpg' %}" alt></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}