
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="top-header-content">
                            <a href="#"><i class="icon_phone"></i> 
                                <img src="{% static 'ElegantIcons' %}">
                                <span>(123) 456-789-1230</span></a>
                            <a href="#"><i class="icon_mail"></i> <span><span class="__cf_email__"
                                                                              data-cfemail="dbb2b5bdb4f5b8b4b7b4a9b7b2b99bbcb6bab2b7f5b8b4b6">[email&#160;protected]</span></span></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="top-header-content">

                            <div class="top-social-area ml-auto">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>