{% for message in messages %}
    {% if message.tags == 'success' %}
        <div style="
    padding: 5px 10px;
    margin-bottom: 10px;
    background: rgba(39, 255, 135, 1.0);
    border: 6px solid #d0d0d0;
    border-radius: 15px;
    line-height: 0.6;
" class="message_success" id="django-messages">
            <h3>{{ message }}</h3>
        </div>
    {% elif message.tags == 'error' %}
        <div style="
    padding: 5px 10px;
    margin-bottom: 10px;
    background: red;
    border: 6px solid #d0d0d0;
    border-radius: 15px;
    line-height: 0.6;
" class="message_success" id="django-messages">
            <h3>{{ message }}</h3>
        </div>
    {% elif message.tags == 'warning' %}
        <div style="
    padding: 5px 10px;
    margin-bottom: 10px;
    background: yellow;
    border: 6px solid #d0d0d0;
    border-radius: 15px;
    line-height: 0.6;
" class="message_success" id="django-messages">
            <h3>{{ message }}</h3>
        </div>
    {% elif message.tags == 'info' %}
        <div style="
    padding: 5px 10px;
    margin-bottom: 10px;
    background: #0088cc;
    border: 6px solid #d0d0d0;
    border-radius: 15px;
    line-height: 0.6;
" class="message_success" id="django-messages">
            <h3>{{ message }}</h3>
        </div>
    {% endif %}
{% endfor %}